<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Microsoft Identity Python Web App.</h1>
    <h2>Use localhost:5000 instead of 127.0.0.1:5000 since app registration reply URL contains localhost</h2>

    {% if config.get("DAEMON_ENABLED") == False %}
    <li><a href='{{ auth_url }}'>Sign In.</a></li>
    {% endif %}    
    {% if config.get("DAEMON_ENABLED") %}
        {% if config.get("BACKEND_SETTINGS").get("Type") == "Database" %}
            <li><a href='/getproductdatadaemon'>Get Product data from Database as Daemon</a></li>
        {% endif %}
        {% if config.get("BACKEND_SETTINGS").get("Type") == "AzureFunction" %}
            <li><a href='/getproductdatadaemon'>Get Product data from Azure Function as Daemon</a></li>
        {% endif %}
    {% endif %}
    <hr>
    <footer style="text-align: right">Powered by MSAL Python {{ version }}</footer>
</body>
</html>

